Hallo,

Sie haben im GDB Lehrtool einen Statuslink bestellt. Dieser Link ist 

= url_for(controller: 'status', action: 'show', token: @student.token, only_path: false)

Sollen Sie diesen Link nicht bestellt haben, gilt trotzdem nur der neue, hier mitgeteilte Link. 


\- Tutor Tool
