%h1 
  Users associated with course 
  = session[:course].name

= render :partial => 'users/index_table', :locals => { :users => @course_users }
%br

%h1 All other users

= render :partial => 'users/index_table', :locals => { :users => @users }
%br

= link_to 'New User', new_user_path
