.table-responsive
	%table.table.table-striped.table-condensed
		- if true
			%thead
				%tr
					%th #
					%th Points
					%th Total
					%th Lastname
					%th Firstname
					%th Email

		%tbody
			- @students.each do |s|
				= render :partial => 'students_row', :locals => { :s => s } 
