.nested-fields
  .form-group
    .col-sm-2
      = f.text_field :number, :placeholder => "No.", :class => "form-control"
    .col-sm-2
      = f.text_field :max_points, :placeholder => "Max Points", :class => "form-control"
    .col-sm-6
      = f.text_field :name, :placeholder => "Name", :class => "form-control"
    .col-sm-2
      = link_to_remove_association "remove", f, :class => "btn btn-danger"
