%h1 Exams for #{@course.name}

= render partial: 'exams/index_table', locals: { exams: @exams }

%br

%h1 Other exams
= render partial: 'exams/index_table', locals: { exams: @other_exams }

%br

= link_to 'New Exam', new_exam_path
